@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Nunito";
}

/* Global CSS */

.container {
  margin: 1rem 2rem 1rem 2rem;
}

.text-decoration-none {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.white {
  color: white;
}

.black {
  color: black
}

.ligth-green {
  color: rgb(149, 174, 156);
}

.background-green {
  background-color: rgb(149, 174, 156);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.radius-5 {
  border-radius: 5%;
}

.radius-full {
  border-radius: 999%;
}

.size {
  font-size: 1.5rem;
}

.global-margin {
  margin: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.container-padding {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.container-padding-spe {
  padding-top: 6rem;
}

/* Navbar */

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-item {
  list-style-type: none;
}

/* Background Image */

.bg-image {
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
}

.title-margin {
  margin: 2rem;
}

/* Approach content */

.app-img {
  width: 8rem;
  position: absolute;
  top: 49rem;
}

/* Why content */

.why-img {
  width: 15rem;
}

.why-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Who content */

.who-img {
  width: 12rem;
  border-radius: 999%;
}

.who-flexbox {
  display: flex;
  flex-direction: column;
}

/* Values content */

.values-container {
  margin-top: 2rem;
}

.values-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.values-text {
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
}

/* Appointment content */

.apt-flexbox {
  display: flex;
  align-items: center;
}

/* Map content */

.map-flexbox {
  display: flex;
  justify-content: center;
}

.access-flexbox {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}

.map-text {
  text-align: center;
}

/* Footer */

.footer-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer2-flexbox {
  display: flex;
  justify-content: center;
}

/* Media query */

@media (min-width: 320px) {
  .navbar {
    visibility: hidden;
  }
}

@media (min-width: 375px) {
  .app-img {
    top: 45rem;
  }
}

@media (min-width: 425px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .app-img {
    width: 10rem;
    top: 43rem;
  }
  .container-padding {
    padding-top: 4rem;
    padding-bottom: 7rem;
  }
}

@media (min-width: 768px) {
  .navbar {
    justify-content: flex-end;
    height: 4rem;
    visibility: visible;
  }
  .global-margin {
    margin: 0.8rem;
  }
  .bg-image {
    height: 35rem;
  }
  .app-img {
    width: 13rem;
    top: 56rem;
  }
  .container-padding {
    padding-top: 6rem;
    padding-bottom: 9rem;
  }
  .why-img {
    width: 20rem;
  }
  .why-flexbox {
    flex-direction: row;
    justify-content: center;
  }
  .who-flexbox {
    flex-direction: row;
    justify-content: space-around;
  }
  .values-flexbox {
    flex-direction: row;
  }
  .values-text {
    width: 20rem;
    height: 12rem;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 2rem 5rem 2rem 5rem;
  }
  .bg-image {
    height: 45rem;
  }
  .title-margin {
    margin: 5rem;
  }
  .app-img {
    width: 15rem;
    top: 66rem;
  }
}

@media (min-width: 1440px) {
  .bg-image {
    height: 50rem;
  }
  .app-img {
    width: 18rem;
    top: 69rem;
  }
}

@media (min-width: 2560px) {
  .navbar {
    height: 8rem;
  }
  .bg-image {
    height: 80rem;
  }
  .app-img {
    width: 20rem;
    top: 97rem;
  }
}
