* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* Global CSS */

.container {
  margin: 1rem 2rem 1rem 2rem;
}

.container-padding {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.container-padding-spe {
    padding-top: 6rem;
}

.text-decoration-none {
  text-decoration: none;
}

.white {
  color: white;
}

.ligth-green {
  color: rgb(149, 174, 156);
}

.background-green {
  background-color: rgb(149, 174, 156);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.global-margin {
  margin: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.radius-full {
  border-radius: 999%;
}

.size {
  font-size: 1rem;
}

/* Navbar */

.navbar {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-item {
  list-style-type: none;
}

/* Background Image */

.bg-image {
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
}

.title-margin {
  margin: 2rem;
}

/* Approach content */

.app-img {
  width: 8rem;
  position: absolute;
  top: 54rem;
}

/* Media query */

@media (min-width: 375px) {
    .app-img {
        top: 53rem;
    }
}

@media (min-width: 425px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .app-img {
    width: 10rem;
    top: 44rem
  }
  .container-padding {
      padding-top: 4rem;
      padding-bottom: 7rem;
  }
}

@media (min-width: 768px) {
  .navbar {
    justify-content: flex-end;
  }
  .global-margin {
    margin: 0.8rem;
  }
  .bg-image {
    height: 25rem;
  }
  .app-img {
    width: 13rem;
    top: 48rem;
  }
  .container-padding {
    padding-top: 6rem;
    padding-bottom: 9rem;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 2rem 5rem 2rem 5rem;
  }
  .bg-image {
    height: 30rem;
  }
  .title-margin {
    margin: 5rem;
  }
  .app-img {
    width: 15rem;
    top: 53rem;
  }
}

@media (min-width: 1440px) {
  .bg-image {
    height: 35rem;
  }
  .app-img {
    width: 18rem;
    top: 55rem;
  }
}

@media (min-width: 2560px) {
  .navbar {
    height: 8rem;
  }
  .bg-image {
    height: 45rem;
  }
  .app-img {
    width: 20rem;
    top: 69rem;
  }
}
